---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Django from "./icons/Django.astro"
import Node from "./icons/Node.astro"
import Css from "./icons/Css.astro"
import Javascript from "./icons/Javascript.astro"
import Ionic from "./icons/Ionic.astro"
import Angular from "./icons/Angular.astro"
import Firebase from "./icons/Firebase.astro"
import Typescript from "./icons/Typescript.astro"
import Git from "./icons/Git.astro"
import Vercel from "./icons/Vercel.astro"
import Html5 from "./icons/Html5.astro"
import Express from "./icons/Express.astro"
import Python from "./icons/Python.astro"

const TAGS = {
  DJANGO: {
    name: "Django",
    class: "bg-[#113025] text-white",
    icon: Django,
  },
  NODE: {
    name: "NodeJs",
    class: "bg-[#11301b] text-white",
    icon: Node,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#13256e] text-white",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#61581e] text-white",
    icon: Javascript,
  },
  IONIC: {
    name: "Ionic",
    class: "bg-[#214075] text-white",
    icon: Ionic,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#700000] text-white",
    icon: Angular,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#701701] text-white",
    icon: Firebase,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#012c70] text-white",
    icon: Typescript,
  },
  GITHUB: {
    name: "Github",
    class: "bg-[black] text-white",
    icon: GitHub,
  },
  GIT: {
    name: "Git",
    class: "bg-[#5c1e15] text-white",
    icon: Git,
  },
  VERCEL: {
    name: "Vercel",
    class: "bg-[black] text-white",
    icon: Vercel,
  },
  HTML5: {
    name: "HTML",
    class: "bg-[#692512] text-white",
    icon: Html5,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[black] text-white",
    icon: Express,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#7a5c01] text-white",
    icon: Python,
  },
}

const PROJECTS = [
  {
    title: "MYHD.CL",
    description:
      "Pagina web de productos de DJ y musica, Creacion de diversos modulos con HTMl,CSS,JS y Creacion de un backend con Node.js y Express.js para el consumo de microservicios",
    link: "https://myhd.cl/",
    image: "/projects/myhd.webp",
    tags: [TAGS.HTML5, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.EXPRESS, TAGS.NODE,  TAGS.VERCEL, TAGS.GIT, TAGS.GITHUB],
  },
  {
    title: "RegistrApp",
    description:
      "Aplicación móvil para el registro de asistencia combina escaneo de códigos QR y geolocalización. Desarrollada en Ionic con Angular y el Backend en Python y Django, y complementada con Firebase y TypeScript",
    link: "https://registrapp-blue.vercel.app/",
    github: "https://github.com/lucassmelendez/registrAppDjango",
    image: "/projects/log2.webp",
    tags: [TAGS.ANGULAR, TAGS.IONIC, TAGS.DJANGO, TAGS.FIREBASE, TAGS.TYPESCRIPT,  TAGS.PYTHON, TAGS.GIT, TAGS.GITHUB],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-wrap mb-2 gap-x-2 gap-y-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>